{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero section -->
<section class="py-5 bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative text-center">
                <img src="{{ hero_image }}" alt="Nike Air Force 1" class="img-fluid w-100 rounded"
                    style="height: 500px; object-fit: cover;">
                <!-- Overlay content -->
                <div class="position-absolute bottom-0 start-0 p-4 text-start mx-4">
                    <h1 class="fw-bold text-white mb-1">
                        Step into Style
                    </h1>
                    <p class="text-white fs-5 w-50">Discover the latest trends and timeless classics in footwear. Find your perfect footwear today.</p>
                    <a href="#" class="btn btn-success btn-lg text-capitalize mt-2">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Categories section -->
<section class="py-3 bg-transparent">
    <div class="container">
        <div class="ror">
            <div class="col-12">
                <h2>
                    featured categories
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="h-100">

                    <!-- Image wrapped in a link -->
                    <a href="#">
                        <img src="{{ running }}" class="card-img-top img-fluid rounded uniform-img" alt="running shoes">
                    </a>
                    <h6 class="card-title fw-normal ps-2 pt-2">Running</h6>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="h-100">

                    <!-- Image wrapped in a link -->
                    <a href="#">
                        <img src="{{ casual }}" class="card-img-top img-fluid rounded uniform-img" alt="casual shoes">
                    </a>
                    <h6 class="card-title fw-normal ps-2 pt-2">Casual</h6>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="h-100">

                    <!-- Image wrapped in a link -->
                    <a href="#">
                        <img src="{{ formal }}" class="card-img-top img-fluid rounded uniform-img" alt="formal shoes">
                    </a>
                    <h6 class="card-title fw-normal ps-2 pt-2">Formal</h6>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="h-100">

                    <!-- Image wrapped in a link -->
                    <a href="#">
                        <img src="{{ sports }}" class="card-img-top img-fluid rounded uniform-img" alt="sports shoes">
                    </a>
                    <h6 class="card-title fw-normal ps-2 pt-2">Sports</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Summer sale section -->
<section class="py-5 bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative text-center">
                <img src="{{ summer_sale }}" alt="Puma Summer Sale" class="img-fluid w-100 rounded"
                    style="height: 500px; object-fit: cover;">
                <!-- Overlay content -->
                <div class="position-absolute bottom-0 start-0 p-4 text-start mx-4">
                    <h1 class="text-dark mb-1">
                        Summer Sale
                    </h1>
                    <a href="#" class="btn btn-success btn-lg text-capitalize mt-2">explore more</a>
                </div>
            </div>
        </div>
    </div>
</section>
</section>

<!-- Summer sale section -->
<section class="py-5 bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative text-center">
                <img src="{{ summer_sale }}" alt="Puma Summer Sale" class="img-fluid w-100 rounded"
                    style="height: 500px; object-fit: cover;">
                <!-- Overlay content -->
                <div class="position-absolute bottom-0 start-0 p-4 text-start mx-4">
                    <h1 class="text-dark mb-1">
                        Summer Sale
                    </h1>
                    <a href="#" class="btn btn-success btn-lg text-capitalize mt-2">explore more</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}